<div style="background-color: pink;">
  <h1>Adoptme</h1>
  <h2>¡Bienvenido!</h2>
  <p>Adoptme es una aplicación web que te permite encontrar a tu mascota ideal.</p>
  <p>Para comenzar a utilizarla, debes registrarte o iniciar sesión.</p>
  <p>¡Esperamos que encuentres a tu compañero ideal!</p>
</div>